/**/
body {
    background-color: #0052CC;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}


/**/
.header1 {
    background-color: #efefc8;
    padding: 21px;
    color: white;
    font-size: 15.8px;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    /* Ajuste o valor da altura conforme necessário */
    caret-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1 .txtLogo {
    font-size: 32px;
    font-weight: 700;
    color: #0052CC;
    margin-right: auto;
    background-color: #efefc8;
    font-family: 'Lato', sans-serif;
}

.header1 span {
    margin-right: 40px;
    background-color: #0052CC;
    color: white;
    padding: 9px;
    border-radius: 20px;
    transition: background-color 0.4s, color 0.4s, box-shadow 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.header1 span:hover {
    background-color: #FFA366;
    color: rgb(14, 14, 80);
    transform: scale(1.1);
}

.header1 span strong {
    font-weight: bold;
}

/**/
.conversao {
    background-color: #efefc8;
    color: #120c69;
    height: 103vh;
    width: 570px;
    text-align: center;
    margin: 0 auto;
    margin-right: 4%;
    border-radius: 10%;
    margin-top: 8.5%;
    caret-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: NONE;
}

/**/
.mensagem {
    background-color: #0052CC;
    font-family: 'Montserrat', sans-serif;
    width: 600px;
    height: 120vh;
    text-align: justify;
    color: #F5F5DC;
    font-size: 15px;
    margin-top: -50.6%;
    margin-left: 2%;
    gap: 20px;
    caret-color: transparent;
    font-weight: 700;
}

.mensagem .titulo {
    text-align: justify;
}

/**/
input[type='number'] {
    color: #F8F8F8;
    width: 400px;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: none;
    background-color: #0052CC;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    caret-color: auto;
    transition: none;
}

input::placeholder {
    color: #AAB4C8;
    font-style: normal;
}

.botao {
    background-color: #0052CC;
    margin-bottom: 19px;
    width: 100px;
    color: #F5F5DC;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.4s, color 0.4s, box-shadow 0.3s ease, transform 0.3s ease;
}

.botao:hover {
    Background-color: #FFA366;
    color: rgb(14, 14, 80);
    transform: scale(1.1);
}

/**/
select {
    width: 400px;
    color: #F8F8F8;
    padding: 20px;
    gap: 20px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    background-color: #0052CC;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, box-shadow 0.3s ease, transform 0.3s ease;
}

select:hover {
    Background-color: #FFA366;
    color: rgb(14, 14, 80);
    transform: scale(1.1);
}

/**/
#valores {
    width: 400px;
    height: 40%;
    background-color: #0052CC;
    color: #F8F8F8;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    display: table;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

/**/
.txt {
    font-weight: bold;
    font-size: 18px;
    color: #0052CC;
    text-align: left;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}

/**/
.sulcard {
    background-color: #F8F8F8;
    color: #0052CC;
    transition: background-color 0.3s, border 0.3s;
    border-radius: 20px;
    padding: 1.3px;
    transition: background-color 0.4s, color 0.4s, box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sulcard:hover {
    Background-color: #FFA366;
    color: rgb(14, 14, 80);
    padding: 3px;
    border-radius: 15px;
    transform: scale(1.1);
}

footer {
    margin-top: 100;
}